Archivos Visual Studios/Lenguaje de marcas/Tema 4/Pizzeria XML/DTDpizzeria.dtd

<!ELEMENT pizzas (pizza*)>
<!ELEMENT pizza (ingrediente+, masa, horneado, salsas*)>
<!ELEMENT ingrediente EMPTY>
<!ELEMENT masa (#PCDATA)>
<!ELEMENT horneado (#PCDATA)>
<!ELEMENT salsas (#PCDATA)>
<!ATTLIST pizza nombre CDATA #REQUIRED>
<!ATTLIST pizza precio CDATA #REQUIRED>
<!ATTLIST ingrediente nombre CDATA #REQUIRED>